body.loading .menu {
  display:none;
}


#loader span#msg {
  font-size:16px !important;
}

#loader {
  margin-top:30vh;
  text-align:center;
  color:#888;
  font-family: 'Helvetica' !important;
  line-height:20px;
  position:absolute;
  z-index:500;
  width:100%;
}

#loaderbox {
  width:90px;
  height:50px;
  position:relative;
  margin:100px auto 0;
  color:#888;
  letter-spacing:1px;
  text-align:center;
  line-height:50px;  
  white-space:nowrap;
}

.stick {
  width:50px;
  height:6px;
  position:absolute;
  top:23px;
}

.left {
  left:3px;
  -webkit-transform:rotate(180deg);
      -ms-transform:rotate(180deg);
          transform:rotate(180deg);
  -webkit-animation:left 1.7s infinite;
          animation:left 1.7s infinite;
}

@-webkit-keyframes left {
  from { -webkit-transform:rotate(180deg) scale(1); transform:rotate(180deg) scale(1); }
  50% { -webkit-transform:rotate(540deg) scale(1.5); transform:rotate(540deg) scale(1.5); }
  to { -webkit-transform:rotate(540deg) scale(1); transform:rotate(540deg) scale(1); }
}

@keyframes left {
  from { -webkit-transform:rotate(180deg) scale(1); transform:rotate(180deg) scale(1); }
  50% { -webkit-transform:rotate(540deg) scale(1.5); transform:rotate(540deg) scale(1.5); }
  to { -webkit-transform:rotate(540deg) scale(1); transform:rotate(540deg) scale(1); }
}

.right {
  right:3px;
  -webkit-animation:right 1.7s infinite;
          animation:right 1.7s infinite;
}

@-webkit-keyframes right {
  from { -webkit-transform:rotate(0deg) scale(1.5); transform:rotate(0deg) scale(1.5); }
  50% { -webkit-transform:rotate(0deg) scale(1); transform:rotate(0deg) scale(1); }
  to { -webkit-transform:rotate(-360deg) scale(1.5); transform:rotate(-360deg) scale(1.5); }
}

@keyframes right {
  from { -webkit-transform:rotate(0deg) scale(1.5); transform:rotate(0deg) scale(1.5); }
  50% { -webkit-transform:rotate(0deg) scale(1); transform:rotate(0deg) scale(1); }
  to { -webkit-transform:rotate(-360deg) scale(1.5); transform:rotate(-360deg) scale(1.5); }
}

.right span, .left span {
  width:8px;
  height:8px;
  background:#888;
  border-radius:4px;
  display:block;
}
