body, html {
  width:100%;
  margin:0;
  padding:0;
  overflow-x: hidden;
  background-color:#FFF;
}

body, body *, select {
  font-family: 'Helvetica';
  font-size:20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 40px;
}

body{
  height:99.5vh;
  position: relative;
}

body.fullscreen * {
  font-size: 14px;
}

#wallpaper {
  display:none;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  height:99.9vh;
  width:100%;
  background-size:cover;
  background-repeat:no-repeat;
}


.img {
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	max-height:44vh;
	width: 100%;
	min-height:44vh;
    border-radius:10px;
}

li {
  text-align:left;
  margin-left:20px;
}

/**********************************
Responsive web design code
***********************************/

/* ...mobile screen styles go here... */

@media screen and (min-width: 800px) {

  /* ...larger screen styles go here... */

  .wrapper {
    width: 80.6%;
    height:99.9vh;
    min-width:600px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .row {
    width: 100%;
    position:relative;
    -webkit-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
  } 
}


@media screen and (min-width: 800px) {
  #wallpaper {
    display:block;
  }
}
/**********************************
Code that just makes it look nice
***********************************/

.card {
  color: #888;
  text-align: center;
  padding:6%;
  height:99.9vh;
  box-sizing: border-box;
  /* display: none; */
  transition:all 0.3s cubic-bezier(0.25, 0.1, 0, 0.98);
}

body.loaded .card {
  display:block;
}

h1 {
  padding: 10px 0;
  font-size: 1em;
}

.form,
.card > .card > .card {
  max-width:400px;
  min-width:300px;
}

.card > .card {
  max-width:700px;
  min-width:600px;
}

.center {
  margin-left:50%;
  margin-right:50%;
  -webkit-transform: translate(-50%,0%);
      -ms-transform: translate(-50%,0%);
          transform: translate(-50%,0%)
}

@media (min-width: 800px) {
  .card {
  }

}
